.venv
.env
.vscode
*.py[cod]
__pycache__/
.pytest_cache
.mypy_cache
.ruff_cache
config.json
backups
db.sqlite3
memory.sqlite3
memory.sqlite3-shm
memory.sqlite3-wal
uv.lock
credentials.json
google_token.json
# tests.ipynb
