.venv
.env

.vscode
.zed
.claude
.cursor
.github
.codebase-memory

*.py[cod]
__pycache__/
.pytest_cache
.mypy_cache
.ruff_cache
config.json
backups/
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
uv.lock
credentials.json
google_token.json
logs
# tests.ipynb
