{
    "users": [
        {
            "name": "Dr. Lucas Olivieri",
            "email": "lucasandresolivieri@gmail.com",
            "timezone": "America/Argentina/Buenos_Aires",
            "id": "595b6fb0-bef2-4a55-a122-34ab5e8bcc77",
            "rules": [
                {
                    "user": "595b6fb0-bef2-4a55-a122-34ab5e8bcc77",
                    "id": 1,
                    "rrule": "FREQ=WEEKLY;BYDAY=MO",
                    "start": "09:00",
                    "end": "17:00"
                }
            ],
            "appointment_types": [
                {
                    "user": "595b6fb0-bef2-4a55-a122-34ab5e8bcc77",
                    "id": 1,
                    "name": "Initial Consultation",
                    "duration_minutes": 30
                }
            ],
            "blocked_times": [
                {
                    "user": "595b6fb0-bef2-4a55-a122-34ab5e8bcc77",
                    "id": 1,
                    "reason": "vacation",
                    "start": "2026-07-01T00:00:00-03:00",
                    "end": "2026-07-31T00:00:00-03:00"
                }
            ]
        }
    ]
}
